<article>
    <h1>Page 1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet tellus vel augue mattis blandit. Pellentesque
        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    <p>Etiam nec consequat dolor, a iaculis nunc. Ut sagittis justo quam, ut pellentesque sapien finibus vitae. Vestibulum vel
        urna consequat, vulputate nibh vel, aliquet lacus. Morbi cursus lobortis tellus ut varius. Donec vehicula congue
        magna tempor varius. Quisque nec ante porta, pretium dui sed, euismod urna.</p>
    <h2>Subheading</h2>
    <p>Nulla facilisi. Etiam vel tortor leo. Nulla facilisi. Aenean faucibus pharetra blandit. Quisque imperdiet consequat sem
        lobortis sollicitudin. Phasellus blandit est vitae risus bibendum consectetur. Ut viverra massa id interdum gravida.</p>
</article>