<div class="grid-content">
    <ul>
        <li>
            <a href="http://github.com/anwarmontasir" target="_blank" rel="noopener noreferrer">
                <span class="fa fa-github fa-3x"></span>
                <span class="clip">Github</span>
            </a>
        </li>
        <li>
            <a href="http://linkd.in/1miibh6" target="_blank" rel="noopener noreferrer">
                <span class="fa fa-linkedin fa-3x"></span>
                <span class="clip">LinkedIn</span>
            </a>
        </li>
        <li>
            <a href="mailto:anwarmontasir@gmail.com">
                <span class="fa fa-envelope-square fa-3x"></span>
                <span class="clip">Email</span>
            </a>
        </li>
    </ul>
    <small>&copy; 2018 this app.</small>
</div>