<picture>
    <source media="(min-width: 1024px)" srcset="../../images/hero-large.jpg, ../../images/hero-large@2x.jpg 2x">
    <source media="(min-width: 720px)" srcset="../../images/hero-medium.jpg, ../../images/hero-medium@2x.jpg 2x">
    <source media="(min-width: 500px)" srcset="../../images/hero-small.jpg, ../../images/hero-small@2x.jpg 2x">
    <img srcset="../../images/hero-xsmall.jpg, ../../images/hero-xsmall@2x.jpg 2x" alt="Castle by the ocean">
</picture>

<div class="maxwidth-wrap content-grid-wrap">
    <div>
        <img src="../../images/lightning.svg" alt="vector lightning">
    </div>
    <div>
        <h1>Welcome to this page.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel laoreet tortor. Suspendisse est leo, aliquet vestibulum est quis, tincidunt egestas ligula.</p>
        <p>Integer neque arcu, auctor a tortor sed, imperdiet elementum nisi. Duis cursus facilisis rhoncus. Morbi ac efficitur ligula, in ultrices nunc.</p>
    </div>
    <div>
        <h2>Things are really great.</h2>
        <p>Ut luctus viverra laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent dapibus convallis est sed congue.</p>
        <p>Sed maximus quam id ex blandit viverra. Praesent sed felis at neque congue faucibus. Duis porta eleifend sapien in convallis. Mauris feugiat porta congue.</p>
    </div>
    <div><img src="../../images/hello-world.svg" alt="hello world smiley"></div>
    <div><img src="../../images/star.svg" alt="star in a circle"></div>
    <div>
        <h2>Or, at least pretty good.</h2>
        <p>Vestibulum quis mauris a felis molestie molestie at a purus. Morbi at elit id neque vulputate pharetra rutrum non felis. Maecenas porttitor mattis orci, a interdum erat commodo quis.</p>
        <p>Nam fermentum turpis ante, eget lobortis turpis vulputate ac. Sed congue sed quam a dapibus. Donec venenatis at dolor at pretium. </p>
    </div>
    <div>
        <h2>Aren‘t They?</h2>
        <p>Aenean sed semper erat. Nulla lobortis quis libero non sollicitudin. Morbi hendrerit fringilla est at vestibulum. Aenean nulla ipsum, fringilla in ligula in, accumsan consectetur magna.</p>
        <p>Proin mollis, erat sit amet aliquam dignissim, orci nunc laoreet mauris, a commodo nibh quam a enim. Suspendisse potenti. Nullam imperdiet eu nunc ut placerat.</p>
    </div>
    <div><img src="../../images/arrow.svg" alt="arrow and a question mark"></div>
</div>