<h2>Register</h2>
<p>Provide your information below to create an account.</p>
<form class="register">
  <fieldset>
    
    <legend>New Account Information</legend>
    
    <label for="name">Name:</label>
    <input name="name" id="name" type="text" required>
    <p class="error"></p>
    
    <label for="email">Email:</label>
    <input name="email" id="email" type="email" 
      pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" 
      title="Please provde an email in the form of you@somedomain.sometld"
      required>
    <p class="error"></p>
    
    <label for="password">Password:</label>
    <p class="password-description">
      Your password should be at least 6 characters and contain at least one capital letter</p>
    <div id="pwd">
        <input name="password" id="password" type="password" minlength="6" required>
        <p class="error"></p>
        <button type="button" class="show-password" tabindex="-1">Show</button>
    </div>
    
  </fieldset>

  <button type="submit" disabled>Register</button>
  
</form>