<h2>Register</h2>
<p>Provide your information below to create an account.</p>
<form class="register">
  <fieldset>
    
    <legend>New Account Information</legend>
    
    <label for="name">Name:</label>
    <input name="name" id="name" type="text" required>
    <p class="error"></p>
    
    <label for="email">Email:</label>
    <input name="email" id="email" type="email" 
      pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" 
      title="Please provde an email in the form of you@somedomain.sometld"
      required>
    <p class="error"></p>
    
    <label for="password">Password:</label>
    <div id="pwd">
        <input name="password" id="password" type="password" minlength="6" required>
        <p class="error"></p>
        <button class="show-password">Show</button>
    </div>
    
    
    <p class="password-description">Your password should contain at least...</p>
    
    

  </fieldset>
  <button type="submit" disabled>Register</button>
  
</form>