form {
  width: 100%;
  max-width: 640px;
}

/* want to hide fieldset/legend but keep the form accessible?
   http://chadkuehn.com/hidden-accessible-fieldsets/ */

fieldset legend {
  border: 0;
  padding: 0;
  white-space: normal;
  position:absolute;
  left: -5000px;
}
fieldset {
  border: 0;
  padding: 0;
  margin-left: 0px;
}

label {display: block;}

input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #555;
  padding: .5rem;
  margin-bottom: 1rem;
}

#pwd {position: relative;}
#pwd button {
  position: absolute;
  right: .5rem;
  top: .5rem;
  background: #555;
  color: #fff;
  border: none;
  text-transform: uppercase;
}

.password-description {
  margin-top: -.75rem;
  font-size: .8rem;
}

button[type=submit] {
  background: steelblue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: .25rem .5rem;

  &:disabled {
    opacity: .5;
  }
}

.error {
  visibility: hidden;
  color: red;
}

input:invalid + .error {
  visibility: visible;
}