form {
  width: 100%;
  max-width: 640px;
}

/* want to hide fieldset/legend but keep the form accessible?
   http://chadkuehn.com/hidden-accessible-fieldsets/ */

fieldset legend {
  border: 0;
  padding: 0;
  white-space: normal;
  position:absolute;
  left: -5000px;
}

fieldset {
  border: 0;
  padding: 0;
  margin-left: 0px;
}

label {display: block;}

$input-height: 2rem;

input {
  box-sizing: border-box;
  width: 100%;
  height: $input-height;
  border: 1px solid #555;
  padding: .5rem;
  margin-bottom: .25rem;
}

$show-pwd-width: 5rem;

#pwd {
  position: relative;
  
  button {
    position: absolute;
    right: 0;
    top: 0;
    height: $input-height;
    width: $show-pwd-width;
    background: #555;
    color: #fff;
    border: none;
    text-transform: uppercase;
  }

  input {
    width: calc(100% - $show-pwd-width);
  }
}

.password-description {
  color: #777777;
  margin-bottom: .25rem;
  font-size: .8rem;
}

button[type=submit] {
  background: steelblue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: .25rem .5rem;

  &:disabled {
    opacity: .5;
  }
}

.error {
  height: 1rem;
  font-size: .75rem;
  visibility: hidden;
  margin-bottom: .5rem;
  color: red;
}

input:invalid{
  /*border: 1px solid red;*/

  + .error {
    visibility: visible;
  }
}