<article>
    <section>
        <h1>Biography.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eros tellus, tempus quis velit eget, ornare
            interdum lorem. Nulla tincidunt fermentum sem id tempus.</p>
        <p>Morbi pretium id nibh quis facilisis. Ut malesuada ullamcorper volutpat. Etiam ut metus sed massa dapibus rhoncus.
            Praesent interdum suscipit tellus condimentum malesuada. Proin tempor et mi vitae consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et
            ultrices posuere cubilia.</p>
    </section>
    <section>
        <h2>Things Happened.</h2>
        <figure class="bioLeft">
            <img src="http://res.cloudinary.com/anwarmontasir/image/upload/v1517091451/self-portrait-vincent-van-gogh-1889_d1qhzg.jpg"
                alt="self-portrait">
            <figcaption>Don't forget me!</figcaption>
        </figure>

        <p>Integer turpis diam, sollicitudin et viverra sed, dictum id leo. Morbi non ligula faucibus, vestibulum urna id, rhoncus
            sapien. Maecenas id justo vel sapien feugiat vestibulum. Cras et efficitur elit, eu ultricies leo. Integer malesuada,
            turpis suscipit scelerisque mollis, nunc libero vulputate ipsum, ut rutrum augue nibh et erat. Nam nec fermentum
            diam. Duis dapibus rhoncus elit in ultrices. Mauris sed dui at massa fermentum consequat. Suspendisse a tincidunt
            dolor, sed consequat massa. Donec a ornare velit, sed mattis tortor.</p>
        <p>Cras malesuada, augue id porttitor blandit, quam ex pellentesque odio, id varius ante nibh et nisi. Donec vulputate
            cursus sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>
    </section>
    <section>
        <h2>Then, Other Things.</h2>
        <figure class="bioRight">
            <img src="http://res.cloudinary.com/anwarmontasir/image/upload/v1517087939/le-cafe-de-nuit-vincent-van-gogh-1888_rplqns.jpg"
                alt="cafe">
            <figcaption>Don't forget me!</figcaption>
        </figure>

        <p>Proin sit amet eleifend dui. Nulla facilisi. Morbi dignissim euismod lorem vitae feugiat. Cras aliquet, ligula nec
            tincidunt tempor, arcu neque sollicitudin leo, non interdum velit velit nec eros. In vulputate malesuada dolor,
            a volutpat odio porta eget.</p>
        <p>Praesent felis erat, pretium id magna id, vestibulum posuere dui. Suspendisse potenti. Donec dictum nisi interdum
            accumsan interdum. Sed ex lacus, scelerisque at orci quis, vehicula semper orci. Morbi pharetra finibus placerat.
            Sed rutrum orci vitae felis consectetur sodales. Suspendisse sed vestibulum nunc.</p>
        <h3>Pretty soon, everyone was talking.</h3>
        <p>Morbi aliquam eros arcu, vel ornare risus consequat non. Proin pretium, mauris sed finibus fringilla, augue risus
            ultricies augue, ut bibendum enim purus id turpis. Pellentesque luctus sem nec sagittis rutrum.</p>
        <p>Donec magna enim, consectetur non ipsum quis, hendrerit ornare elit.</p>
        <h3>You know how it goes.</h3>
        <p>Ut in nisl maximus turpis interdum tincidunt ac a enim. Nulla et lobortis nisi. Donec augue orci, ornare non dolor
            sit amet, maximus volutpat odio.</p>
        <p>Sed luctus rutrum nisl. Etiam convallis ultrices mauris in accumsan. Proin et blandit arcu.</p>
    </section>
    <section>
        <h2>In the end, though...</h2>
        <figure class="bioLeft">
            <img src="http://res.cloudinary.com/anwarmontasir/image/upload/v1517087409/cypresses-vincent-van-gogh-1889_jfbkjw.jpg" alt="tree">
            <figcaption>Don't forget me!</figcaption>
        </figure>
        <p>Praesent aliquam, tortor vitae laoreet ultrices, risus neque eleifend urna, quis egestas nulla libero ut odio. Suspendisse
            nibh sem, gravida sit amet ligula et, suscipit pretium est. Nullam elit lorem, condimentum porta sollicitudin
            eget, lobortis et mi. Cras euismod tortor quis nisl eleifend pharetra. Sed et blandit nibh, sed dignissim magna.</p>
        <p>Curabitur euismod, justo a consectetur rutrum, erat neque fermentum ex, eu porttitor dui tellus eget augue. Praesent
            in urna ac augue pulvinar iaculis non nec dui.</p>
        <p>Duis mattis urna nec sollicitudin scelerisque. Fusce at dignissim nunc, vitae vestibulum est. </p>
    </section>
</article>