<article>
    <h1>Page 2</h1>
    <p>Praesent commodo tellus purus, eleifend fringilla nunc consequat at. Mauris vel ligula non massa sodales feugiat. Curabitur quis urna in eros maximus lobortis nec id turpis. Donec at tempus elit, in imperdiet urna. Praesent gravida placerat nulla eu facilisis.</p>
    <p>Pellentesque fermentum tellus vitae tempus vulputate. Suspendisse quis augue tortor. Pellentesque aliquam pellentesque nisl, sit amet euismod sapien rhoncus id. Aliquam erat volutpat. Donec fringilla magna id elit ultricies, id vestibulum tellus placerat. Cras posuere, libero et consectetur malesuada, libero risus efficitur metus, ac sodales tellus risus facilisis quam. Praesent mollis lorem vitae elit vulputate, ut iaculis sapien malesuada. Maecenas luctus ligula eget dolor mollis pellentesque.</p>
    <h2>Subhead here</h2>
    <p>Nam iaculis nulla sed libero tincidunt tristique. Duis ultrices ex eu tincidunt luctus. Fusce vestibulum ut turpis ac pharetra. Nam eget porta erat. Duis vulputate dui vitae purus volutpat, eu auctor arcu maximus.</p>
    <aside>
        <input type="checkbox">
        <h3 class="readMore">SubSubhead</h3>
        <div class="expand">
            <p>Quisque lobortis, quam eu sollicitudin blandit, nulla tortor semper sem, vehicula lobortis nisl mi et ipsum. Fusce ultricies auctor orci ut varius. Aliquam aliquam in diam nec faucibus. Vivamus varius malesuada diam id eleifend. Sed consectetur congue vehicula.</p>
            <p>Praesent mollis lorem vitae elit vulputate.</p>
        </div>
    </aside>
    <aside>
        <input type="checkbox">
        <h3 class="readMore">SubSubhead</h3>
        <div class="expand">
            <p>Curabitur fermentum nunc ut ipsum eleifend viverra. Morbi sed urna vitae neque interdum dictum at non libero. Suspendisse finibus metus quis augue venenatis, eget consequat diam pretium. Nullam vitae nunc tortor. Mauris tincidunt nisl sed pretium suscipit. Vivamus vel turpis ut tortor venenatis imperdiet malesuada et risus.</p>
        </div>
    </aside>
    <h2>Near the end now</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet tellus vel augue mattis blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</article>