html {height: 100%;}
body {
    font: 400 100%/1.5 Helvetica, Arial, sans-serif;
    color: #432;
    min-height: 100%;
}

.main-head   {grid-area: header; background: lightpink;}
.content     {grid-area: content; background: lightblue;}
.main-footer {grid-area: footer; background: lightpink;}
.wrapper {
    max-width: 1024px;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
      "header"
      "content"
      "footer";
    grid-template-rows: auto 1fr auto;
}
.wrapper > * {padding: 10px;}