/* variables.css */

$contentPadding: .5rem 1rem;
$light: #f1f7ed;
$thin: #91978d;
$gold: #ead677;
$darkBlue: #183554;

/* RESPONSIVE TYPOGRAPHY VALUES, SPECIFY WITHOUT PX
   https://www.smashingmagazine.com/2016/05/fluid-typography/ */
   $minFontVal: 20;
   $maxFontVal: 24;
   $minViewportVal: 480;
   $maxViewportVal: 1280;
   
   $minFontSize: $(minFontVal)px;
   $maxFontSize: $(maxFontVal)px;
   $minViewportSize: $(minViewportVal)px;
   $maxViewportSize: $(maxViewportVal)px;
   
   $fluidFontSize: calc($minFontSize + ($maxFontVal - $minFontVal) * (100vw - $minViewportSize) / ($maxViewportVal - $minViewportVal));