/* want to hide fieldset/legend but keep the form accessible?
   http://chadkuehn.com/hidden-accessible-fieldsets/ */

fieldset legend {
  border: 0;
  padding: 0;
  white-space: normal;
  position:absolute;
  left: -5000px;
}
fieldset {
  border: 0;
  padding: 0;
  margin-left: 0px;
}

label {display: block;}

input {
  box-sizing: border-box;
  width: 100%;
  max-width: 640px;
  border: 1px solid #555;
  padding: .5rem;
  margin-bottom: 1rem;
}

.password-description {
  margin-top: -.75rem;
  font-size: .8rem;
}

button {
  background: steelblue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: .25rem .5rem;
}