@import '../variables.css';

#splash {
    position: relative;
    blockquote {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: $contentPadding;
        box-sizing: border-box;
        background: rgba(0,0,0,.2);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font: 900 2em/1.25 'Playfair Display', serif;
        color: $light;
        text-shadow: 2px 2px 2px rgba(0,0,0,.3);
    }
}
