@import '../variables.css';

img {
  width: 100%;
  height: auto;
  display: block;
}

/* hide screen-reader only text. https://webaim.org/techniques/css/invisiblecontent/ */
.clip {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.main-head   {grid-area: header; background: $dark; color: $light;}
.content     {grid-area: content; background: $light; color: $dark;}
.main-footer {grid-area: footer;  background: $dark; color: $light;}

.wrapper {
    max-width: 1024px;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
      "header"
      "content"
      "footer";
    grid-template-rows: auto 1fr auto;
}

footer {
  text-align: center;
  font-size: .8rem;
  padding: .5rem 0;
}